@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
body{-webkit-text-size-adjust: 100%;}
html{
	color: #fff;
	font-size: 15px;
	line-height: 1.8;
	ont-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
	-webkit-text-size-adjust: 100%;
}
a{
color: #fff;
	display: block;
}
#wrapper{
	width: 100%;
	height: 100%;
	background: #333;
	overflow: hidden;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 2rem;
}
.is_pc{display: none;}
.is_hidden_tab{display: none;}
:root{
	--red: #5d0000;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.oswald{font-family: 'Oswald', sans-serif;}
main{padding-top: 3.5rem;}
.top_sub_ttl{
	font-size: 2rem;
	font-weight: normal;
	letter-spacing: 5px;
	font-family: 'Oswald', sans-serif;
	z-index: 50;
	position: relative;
	text-align: center;
}
.top_sub_ttl.left{
	text-align: left;
}
.top_sub_ttl .sub_txt{
	display: block;
	font-size: 1rem;
}
.top_sub_ttl a{
	position: relative;
	/* padding: 0 0 1rem; */
}
.top_sub_ttl .alllink{
	position: absolute;
	font-size: 0.8rem;
	font-weight: bold;
	top: 20%;
	right:-1rem;
	border: 1px solid #fff;
	padding: 0 1rem 0.25rem 1rem;
	height: 75%;
	display: flex;
	align-items: center;
	line-height: 1;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{ 
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index: 55000;
	display: flex;
	background-color: #333;
	background-image: url(../images/common/header001.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.logo{ width: 38%;}
.logo a{
	padding-left: 0.5rem;
	display: flex;
	align-items: center;
	height: 100%;
}
.logo img{display: block;}
.above_header{
	width:49%;
	z-index: 54000;
	position: relative;
	display: flex;
}
.sns_box{
	display: flex;
	justify-content: space-between;
	width: 70%;
	padding:0.5rem; 
}
.sns_box a{
	width: 28%;
	background: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
}
.tel_box{
	width: 30%;
	margin-left: auto;
}
.tel_box a{
	background: var(--red);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tel_box a  svg{
	font-size: 1.5rem;
}
.tel_box a span{
	line-height: 1;
	font-weight: 100;
	margin: 0.25rem 0 0;
	font-size: 0.8rem;
}
.openmenu{
	position: relative;
	width:13%;
	height: 3.5rem;
}
.openmenu span{
	position: absolute;
	top:50%;
	left:50%;
	background: #fff;
	width: 40%;
	height: 2px;
	transition: .3s;
}
.openmenu span:nth-of-type(1){transform:translate(-50%,-50%) translateY(5px);}
.openmenu span:nth-of-type(2){transform:translate(-50%,-50%);}
.openmenu span:nth-of-type(3){transform:translate(-50%,-50%) translateY(-5px);}
.openmenu.active span:nth-of-type(1){transform:translate(-50%,-50%) rotate(45deg);}
.openmenu.active span:nth-of-type(2){opacity: 0;}
.openmenu.active span:nth-of-type(3){transform:translate(-50%,-50%) rotate(-45deg);}
.under_header{
	position: absolute;
	top:100%;
	left:100%;
	width: 100%;
	height: calc(100vh - 3.5rem);
	overflow-y: scroll;
	transition: .3s;
}
.under_header.active{
	left:0;
}
.under_header nav{
	background: #333;
	padding: 1rem 1.5rem;
}
.under_header li a{
	border-bottom: 1px solid #000;
	text-align: center;
	padding:0.5rem 0;
}
.under_header .sub_nav{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}
.under_header .sub_nav{
	border-bottom: 1px solid #000;
	padding:0 0 1rem;
}
.under_header .sub_nav li{
	width: 47%;
	padding:1rem 0 0;
}
.under_header .sub_nav li a{
padding: 0;
border-bottom: none;
position: relative;
}
.under_header .sub_nav li a::before{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	content:'';
	background: rgba(0, 0, 0, .5);
}
.under_header .sub_nav li a span{
	position: absolute;
	z-index: 10;
	top:50%;
	left:50%;
	white-space: nowrap;
	font-weight: bold;
	transform:translate(-50%,-50%);
}
.under_header .tel{
	padding: 0;
}
.under_header .tel a{
	background: #5d0000;
	border: 1px solid #fff;
	font-size: 0.8rem;
}
.under_header .tel a .large{
	font-size: 1.2rem;
	margin-right: 0.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 .swiper-slide img{
	width:100%;
}
.top01 .swiper-slide::before{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	content: '';
	transition: .25s .25s;
	transform-origin: center left;
	transform: scale(1,1);
}
.top01 .swiper-slide::after{
	position: absolute;
	top:0;
	right:100%;
	width:100%;
	height: 100%;
	content: '';
	transition: .25s 5s;
	transform-origin: center right;
	transform: scale(0,1);
}
.top01 .swiper-slide:nth-of-type(odd)::before,
.top01 .swiper-slide:nth-of-type(odd)::after{
	background: #fff;
	z-index: 10;
}
.top01 .swiper-slide:nth-of-type(even)::before,
.top01 .swiper-slide:nth-of-type(even)::after{
	background: var(--red);
	z-index: 8;
}
.top01 .swiper-slide-active::before{transform: scale(0,1);}
.top01 .swiper-slide-next::after{transform:  scale(1,1);}
.top01 .swiper-slide:nth-of-type(1)::after{ background: transparent;}
.mv_logo01,
.mv_logo02{ 
	position: absolute;
	top:50%;
	transform: translate(0,-50%);
	z-index: 100;
}
.mv_logo01{
	left:2%;
	width: 45%;
	max-width: 600px;
	transform: translate(0,-50%);
}
.mv_logo01 img{
	width:100%;
}
.mv_logo02{
	right:2%;
	height: 100%;
	transform: translate(0,-50%);
}
.mv_logo02 img{ 
	height: 100%;
	width: auto;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	margin:3rem 0 0;
}
.top02_in{
	background: #000;
	padding: 0 0 3rem;
	margin: 1rem 0 0;
}
.top02_in .img{
	z-index: 10; 
	/* transform: translateY(-2.5rem); */
	margin: -2.5rem 0 0;
}
.top02_in .txt{
	background: var(--red);
	margin: -3rem 0 0;
	position: relative;
	z-index: 20;
	padding:1.5rem;
}
.top02_in .txt h3{
	font-size: 1.2rem;
	margin:0 0 1.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

@media screen and (orientation:portrait) {/* 縦向き */}
@media screen and (orientation:landscape) {/* 横向き */}