@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
body{-webkit-text-size-adjust: 100%;}
html{
	color: #fff;
	font-size: 15px;
	line-height: 1.8;
	ont-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
	-webkit-text-size-adjust: 100%;
}
a{
color: #fff;
	display: block;
}
#wrapper{
	width: 100%;
	height: 100%;
	background: #333;
	overflow: hidden;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.container,
.container_s{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 1.5rem;
}
.is_pc{display: none;}
.is_hidden_tab{display: none;}
:root{
	--red: #5d0000;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.oswald{font-family: 'Oswald', sans-serif;}
main{padding-top: 3.5rem;}
.top_sub_ttl{
	font-size: 2rem;
	font-weight: normal;
	letter-spacing: 5px;
	font-family: 'Oswald', sans-serif;
	z-index: 50;
	position: relative;
	text-align: center;
}
.top_sub_ttl.left{
	text-align: left;
}
.top_sub_ttl .sub_txt{
	display: block;
	font-size: 1rem;
}
.top_sub_ttl a{
	position: relative;
}
.top_sub_ttl .alllink{
	position: absolute;
	font-size: 0.8rem;
	font-weight: bold;
	top: 15%;
	right:-1rem;
	border: 1px solid #fff;
	padding: 0 1rem 0.25rem 1rem;
	height: 75%;
	display: flex;
	align-items: center;
	line-height: 1;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ロゴアニメーション ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.logo_animation{
	position: absolute;
	top:50%;
	left:50%;
	opacity: 0.15;
}
.top04 .logo_animation{
	width: 150%;
	transform: translate(-50%,-50%)translateX(-15rem);
}
.top07 .logo_animation{
	width: 150%;
	transform: translate(-50%,-50%)translateX(15rem);
}
.access .logo_animation{
	z-index: -1;
	opacity: .6;
	transform: translate(-50%,0);
	top:0;
	width:200%;
}
.logo_animation .main_img{
	opacity: 0;
	transition: .3s 1.2s;
}
.logo_animation.active .main_img{
	opacity: 1;
}
.left_x,
.right_x{
	position: absolute;
	top:50%;
	left:50%;
	width:100%;
	transition: 0.8s transform, .3s opacity 1s;
	opacity:1;
}
.left_x{
	transform: translate(0%,50%) rotate(60deg);
}
.right_x{
	transform: translate(-100%,50%) rotate(-60deg);
	width:96.5%;
}
.logo_animation.active .left_x{
	transform: translate(-50%,-50%) rotate(0);
	opacity:0;
}
.logo_animation.active .right_x{
	transform: translate(-50%,-50%) rotate(0);
	opacity:0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ロゴアニメーション ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{ 
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index: 55000;
	display: flex;
	background-color: #333;
	background-image: url(../images/common/header001.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.logo{ width: 38%;}
.logo a{
	padding-left: 0.5rem;
	display: flex;
	align-items: center;
	height: 100%;
}
.logo img{display: block;}
.above_header{
	width:49%;
	z-index: 54000;
	position: relative;
	display: flex;
}
header .sns_box{
	display: flex;
	justify-content: space-between;
	width: 70%;
	padding:0.5rem; 
}
header .sns_box a{
	width: 28%;
	background: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
}
.tel_box{
	width: 30%;
	margin-left: auto;
}
.tel_box a{
	background: var(--red);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tel_box a  svg{
	font-size: 1.5rem;
}
.tel_box a span{
	line-height: 1;
	font-weight: 100;
	margin: 0.25rem 0 0;
	font-size: 0.8rem;
}
.openmenu{
	position: relative;
	width:13%;
	height: 3.5rem;
}
.openmenu span{
	position: absolute;
	top:50%;
	left:50%;
	background: #fff;
	width: 40%;
	height: 2px;
	transition: .3s;
}
.openmenu span:nth-of-type(1){transform:translate(-50%,-50%) translateY(5px);}
.openmenu span:nth-of-type(2){transform:translate(-50%,-50%);}
.openmenu span:nth-of-type(3){transform:translate(-50%,-50%) translateY(-5px);}
.openmenu.active span:nth-of-type(1){transform:translate(-50%,-50%) rotate(45deg);}
.openmenu.active span:nth-of-type(2){opacity: 0;}
.openmenu.active span:nth-of-type(3){transform:translate(-50%,-50%) rotate(-45deg);}
.under_header{
	position: absolute;
	top:100%;
	left:100%;
	width: 100%;
	height: calc(100vh - 3.5rem);
	overflow-y: scroll;
	transition: .3s;
}
.under_header.active{
	left:0;
}
.under_header nav{
	background: #333;
	padding: 1rem 1.5rem;
}
.under_header li a{
	border-bottom: 1px solid #000;
	text-align: center;
	padding:0.5rem 0;
}
.under_header .sub_nav{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}
.under_header .sub_nav{
	border-bottom: 1px solid #000;
	padding:0 0 1rem;
}
.under_header .sub_nav li{
	width: 47%;
	padding:1rem 0 0;
}
.under_header .sub_nav li a{
padding: 0;
border-bottom: none;
position: relative;
}
.under_header .sub_nav li a::before{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	content:'';
	background: rgba(0, 0, 0, .5);
}
.under_header .sub_nav li a span{
	position: absolute;
	z-index: 10;
	top:50%;
	left:50%;
	white-space: nowrap;
	font-weight: bold;
	transform:translate(-50%,-50%);
}
.under_header .tel{
	padding: 0;
}
.under_header .tel a{
	background: #5d0000;
	border: 1px solid #fff;
	font-size: 0.8rem;
}
.under_header .tel a .large{
	font-size: 1.2rem;
	margin-right: 0.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.access{
	padding: 3rem 0;
	z-index: 10;
}
.access iframe{
	margin: 2rem 0;
	width: 100%;
	height: 250px;
}
.access_in .txt h4{ 
	font-size: 1.2rem;
	margin:0 0 1rem;
}
.access_in .txt p{ 
	margin:1rem 0 0;
}
.access_in .txt a{
	color: #000;
	background: #fff;
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
	padding: 1rem;
	margin:1.5rem 0 0;
	position: relative;
	z-index: 10;
}
.access_in .txt a img{
	width: 1.2rem;
	vertical-align: middle;
	margin-right: 1rem;
}
.follow img{
	margin:2rem 0;
	width: 100%;
}
footer .sns_box{
	display: flex;
	margin : 0 auto;
	justify-content: center;
}
footer .sns_box a{
	margin: 0 0.75rem;
	font-size: 1.2rem;
	border-radius: 50%;
	background: #fff;
	width:2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	color: #000;
	transition: .3s;
}
footer .sns_box a.tw{color: #1DA1F2;}
footer .sns_box a.insta{color: #CF2E92;}
footer .sns_box a.line{color: #00B900;}
.copy{
	text-align: center;
	margin:2rem 0 0;
	padding: 1.5rem 0;
	background: var(--red);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01 .swiper-slide img{
	width:100%;
}
.top01 .swiper-slide::before{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	content: '';
	transition: .25s .25s;
	transform-origin: center left;
	transform: scale(1,1);
}
.top01 .swiper-slide::after{
	position: absolute;
	top:0;
	right:100%;
	width:100%;
	height: 100%;
	content: '';
	transition: .25s 5s;
	transform-origin: center right;
	transform: scale(0,1);
}
.top01 .swiper-slide:nth-of-type(odd)::before,
.top01 .swiper-slide:nth-of-type(odd)::after{
	background: #fff;
	z-index: 10;
}
.top01 .swiper-slide:nth-of-type(even)::before,
.top01 .swiper-slide:nth-of-type(even)::after{
	background: var(--red);
	z-index: 8;
}
.top01 .swiper-slide-active::before{transform: scale(0,1);}
.top01 .swiper-slide-next::after{transform:  scale(1,1);}
.top01 .swiper-slide:nth-of-type(1)::after{ background: transparent;}
.mv_logo01,
.mv_logo02{ 
	position: absolute;
	top:50%;
	transform: translate(0,-50%);
	z-index: 100;
}
.mv_logo01{
	left:2%;
	width: 45%;
	max-width: 600px;
	transform: translate(0,-50%);
}
.mv_logo01 img{
	width:100%;
}
.mv_logo02{
	right:2%;
	height: 100%;
	transform: translate(0,-50%);
}
.mv_logo02 img{ 
	height: 100%;
	width: auto;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	margin:3rem 0 0;
}
.top02_in{
	background: #000;
	padding: 0 0 3rem;
	margin: 1rem 0 0;
}
.top02_in .img{
	z-index: 10; 
	margin: -2.5rem 0 0;
}
.top02_in .txt{
	background: var(--red);
	margin: -3rem 0 0;
	position: relative;
	z-index: 20;
	padding:1.5rem;
}
.top02_in .txt h3{
	font-size: 1.2rem;
	margin:0 0 1.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top03{	margin:4rem 0;}
.top03 .cat_box{
	margin:1rem 0 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.top03 .cat_box a{
	font-size: 0.8rem;
	width: 48%;
	margin-top: 0.5rem;
	text-align: center;
	background: #fff;
	padding: 0.5rem 0;
	color: #000;
}
.top03 .part_box{margin:2rem 0 0;}
.top03 .swiper-container{overflow: visible;}
.top03 .part_box a:nth-of-type(even){
	margin:2rem 0 0;
}
.top03 .swiper-container .swiper-button-prev{
	left:-1.5rem;
	background-image:url(../images/common/prev.png);
}
.top03 .swiper-container .swiper-button-next{
	background-image:url(../images/common/next.png);
	right:-1.5rem;
}
.top03 .swiper-container .swiper-button-prev,
.top03 .swiper-container .swiper-button-next{
	background-size: contain;
	width: 2.5rem;
	height: 2.5rem;
}
.top03 .part_box a{
	position: relative;
	color: #000;
}
.top03 .part_box a .inner{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	padding: 0.5rem;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
}
.top03 .part_box a .inner h3{
	font-size: 0.8rem;
	font-weight: normal;
		display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.top03 .part_box a .inner p.cat{font-size: 0.8rem;}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 .top04{ 
	padding:4rem 0;
	background: #222;
}
.top04 .part_box.swiper-container{
	margin: 3rem 0 0;
	overflow: visible;
}
.top04 .swiper-container .swiper-button-prev{
	left:-1.5rem;
	background-image:url(../images/common/prev.png);
}
.top04 .swiper-container .swiper-button-next{
	background-image:url(../images/common/next.png);
	right:-1.5rem;
}
.top04 .swiper-container .swiper-button-prev,
.top04 .swiper-container .swiper-button-next{
	background-size: contain;
	width: 2.5rem;
	height: 2.5rem;
}
.top04 .part_box a{
	position: relative;
	color: #000;
}
.top04 .part_box a .inner{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	padding: 0.5rem;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
}
.top04 .part_box a .inner h3{
		font-size: 0.8rem;
	font-weight: normal;
		display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.top04 .part_box a .inner p.cat{font-size: 0.8rem;}
.top04 .cat_box{
	margin:2rem 0 0;
	display: flex;
	flex-wrap: wrap;
}
.top04 .cat_box a{
	width: 31%;
	font-size: 0.8rem;
	margin-right: 3.5%;
	margin-top: 1rem;
	text-align: center;
	background: #fff;
	padding: 0.5rem 0;
	color: #000;
	position: relative;
}
.top04 .cat_box a:nth-of-type(3n){
	margin-right: 0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05{
	padding: 4rem 0 0;
}
.top05_in{
	margin: 3rem 0 0;
}
.top05_in a{
	padding:1.5rem 1.5rem 2rem;
	position: relative;
}
.top05_in a:nth-of-type(1){background: url(../images/top/top05_01.jpg) center center / cover no-repeat;}
.top05_in a:nth-of-type(2){background: url(../images/top/top05_02.jpeg) center center / cover no-repeat;}
.top05_in a:nth-of-type(3){background: url(../images/top/top05_03.jpeg) center center / cover no-repeat;}
.top05_in a:nth-of-type(4){background: url(../images/top/top05_04.jpg) center center / cover no-repeat;}
.top05_in a:nth-of-type(5){background: url(../images/top/top05_05.jpg) center center / cover no-repeat;}
.top05_in a:nth-of-type(6){background: url(../images/top/top05_06.jpg) center center / cover no-repeat;}
.top05_in a::before{
	position: absolute;
	content:'';
	width: 125%;
	height: 100%;
	content:'';
	background: linear-gradient(to bottom, #AA0000 0% , #5D0000 100%);
	opacity: .7;
}
.top05_in a:nth-of-type(odd)::before{
	top:0;
	right:0;
	transform: skewX(-35deg);
}
.top05_in a:nth-of-type(even)::before{
	transform: skewX(-35deg);
	top:0;
	left:0;
}
.top05_in a .item{
	width: 75%;
	z-index: 10;
	position: relative;
}
.top05_in a:nth-of-type(odd) .item{margin:0 auto 0 0;}
.top05_in a:nth-of-type(even) .item{margin:0 0 0 auto;}
.top05_in a .item h3{
	font-size: 1.5rem;
	margin:0 0 0.75rem;
}
.top05_in a .item span{
	display: block;
	margin: 0.5rem 0 0 auto;
	width: 50%;
	text-align: center;
	position: relative;
}
.top05_in a .item span::before,
.top05_in a .item span::after{
	position: absolute;
	content: '';
	background: #fff;
	bottom:-0.5rem;
	right:10%;
	height: 1px;
}
.top05_in a .item span::before{
	width: 60%;
}
.top05_in a .item span::after{ 
	width: 1.5rem;
	transform-origin: bottom right;
	transform:rotate(25deg);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top06{
	padding: 4rem 1.5rem;
	background: url(../images/top/top06_03.jpg) center center / 100% auto repeat;
	color: #222;
}
.top06_in{
	margin:2rem 0 0;
}
.top06_in a{
	position: relative;
	margin:2rem auto 0;
	width: 80%;
}
.top06_in a::before{
	content:'';
	background: linear-gradient(to bottom, #AA0000 0% , #5D0000 100%);
	top:0;
	left:0;
	width:100%;
	height: 100%;
	position: absolute;
	opacity: .6;
	opacity: .6;
	z-index: 10;
}
.top06_in a p{
	font-size: 2.5rem;
	position: absolute;
	z-index: 11;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top07 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top07{
	padding: 3rem 0 4rem;
}
.top07_in{
	margin:2rem 0 0;
}
.top07_in a{
	margin:1rem 0 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.top07_in a img{ 
	width: 35%;
	height: auto;
}
.top07_in a .item{
	padding: 1rem;
	width:65%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.top07_in a .item h3{ font-size: 0.9rem; }
.top07_in a .item .cat{ font-size: 0.8rem; }
.top07_in a .item h4{ font-size: 1rem; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top07 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top08 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top08{
	padding:3rem 0 2rem;
	background: url(../images/top/top08_01.png) center center / 100% auto repeat;
}
.top08_in .box{
	margin:2rem 0;
	display: flex;
	justify-content: space-between;
}
.top08_in .box .ttl{
	position: relative;
	z-index: 10;
	text-align: center;
	width:30%;
}
.top08_in .box .ttl h3{
	font-weight: normal;
	font-size: 3rem;
	line-height: 1;
	margin-bottom: 2rem;
	opacity: .7;
}
.top08_in .box .ttl a{
	font-weight: bold;
	font-size: 0.8rem;
	border: 1px solid #fff;
	padding: 0.5rem 1rem 0.75rem;
	letter-spacing: 5px;
}
.top08_in article{
	width:65%;
}
.top08_in article a{
	position: relative;
}
.top08_in article a::before{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: linear-gradient(to bottom, #AA0000 0% , #5D0000 100%);
	content: '';
	opacity: .7;
	z-index: 5;
}
.top08_in article a .txt{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 85%;
	z-index: 6;
}
.top08_in article a .txt time{ font-size: 0.8rem; }
.top08_in article a .txt h4{
	font-size: 1.1rem;
	margin:1rem 0;
}
.top08_in article a .txt p{ font-size: 0.8rem; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top08 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ コモン01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.common01{
	padding: 3rem 0;
	background: url(../images/common/common_contact.png) center center / cover repeat;
}
.common01_in a{
	color: #000;
	background: rgba(255, 255, 255, .7);
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1rem;
	font-weight: bold;
	position: relative;
	z-index: 10;
	margin:1.35rem 0 0;
}
.common01_in .ico{
	width:3rem;
	height: 3rem;
	background: #000;
	border-radius: 50%;
	color: #fff;
	line-height: 3rem;
	font-size: 1.5rem;
	margin:0 0 1rem;
	text-align: center;
}
.common01_in .main_txt{font-size: 1.5rem; font-weight: normal;}
.common01_in .sub_txt{font-size: 0.8rem; margin-left: 0.5rem;}
.common01_in .txt{font-size: 1.3rem; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ コモン01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ コモン02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.common02{
	padding: 3rem 0;
	background: url(../images/common/common_recruit.png) center center / cover repeat;
	text-align: center;
}
.common02 p{
	margin:1rem 0 2rem;
	font-size: 0.8rem;
}
.common02 a{
	padding:1rem 6rem;
	font-size: 1.1rem;
	display: inline-block;
	border: 1px solid #fff;
	position: relative;
	z-index: 10;
	overflow: hidden;
}





/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.ttl_wrap{
	margin-bottom: 2.5rem;
}
.ttl_wrap .ttl{
	font-size: 1.5rem;
	line-height: 1.4;
	font-weight: bold;
}
.ttl_wrap .ttl.bk{
	color: #000;
}
.ttl_wrap .ttl span{
	font-size: 1.5rem;
	font-weight: bold;
}
.lower_mv .mv_ttl{
	position: relative;
	width: 100%;
	height: 18vh;
	min-height: 125px;
}
.lower_mv .ttl{
	display: block;
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: 2.4rem;
	font-weight: normal;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ company01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.company01{
	background: url(../images/company/mv.jpg) center center/cover no-repeat;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ company01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ company02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.company02{
	padding: 2rem 0 3rem;
	background: url(../images/company/company_bg.png) center center/100% auto repeat;
}
.company02 .item{
	margin-bottom: 3rem;
}
.company02 .item:last-of-type{
	margin-bottom: 0;
}
.company02 .item h2{
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 1rem;
}
.company02 .item_in{
	display: flex;
	flex-direction: column;
}
.company02 .item_in h3{
	order: 1;
	font-size: 1.1rem;
	text-align: left;
	margin-bottom: 1rem;
}
.company02 .item_in .img{
	order: 2;
	margin-bottom: 1rem;
	text-align: center;
}
.company02 .item_in p{
	order: 3;
}
.company02 .item_in p + p{
	margin-top: 1rem;
}
.company02 table{
	width: 100%;
}
.company02 th,
.company02 td{
	border-bottom: solid 1px #fff;
}
.company02 th{
	width: 30%;
	text-align: left;
	padding: 0.75rem 0.5rem 0.75rem 0;

}
.company02 td{
	width: 70%;
	text-align: left;
	padding: 0.75rem 0 0.75rem 0.5rem;
}
.company02 td iframe{
	width: 100%;
	height: 250px;
	margin: 1rem 0;
}
.company02 td a span{
	margin-left: 0.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ company02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ staff01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.staff01{
	background: url(../images/staff/mv.jpg) center center/cover no-repeat;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ staff01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ staff02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.staff02{
	padding: 3rem 0;
	background: url(../images/staff/staff_bg.png) center center/100% auto repeat;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ staff02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

@media screen and (orientation:portrait) {/* 縦向き */}
@media screen and (orientation:landscape) {/* 横向き */}